@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="CvGeneratorController">
    <div class="container col-lg-12">
        <div class="">
            <h2>Let the magic happen!</h2>
        </div>
        <div class="">
            <div class="form-group">
                <input type="file" class="filestyle form-control" data-buttonbefore="true">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Generate CV</button>    
            </div>
        </div>
        
        <div class="">
            <p>The JSON Result is here!</p>
            <pre><code class=""><p>Hi</p>
                </code></pre>     
        </div>

    </div>
</div>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    function CvGeneratorController($scope,$http) {
        $scope.filurl = '';
    };

</script>